.single-blog-box{
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: all .5s;
}
.blog-bg-1{background-image: url("https://image.freepik.com/free-photo/closeup-diverse-people-joining-their-hands_53876-96081.jpg");}
.blog-bg-2{background-image: url("https://image.freepik.com/free-photo/business-freelance-asian-woman-working-doing-projects-sending-email-laptop-computer-while-sitting-table-cafe_7861-1332.jpg");}
.blog-bg-3{background-image: url("https://image.freepik.com/free-photo/friends-social-media_53876-90180.jpg");}

.blog-overlay{
    position: absolute;
    top: 0;
    left: -15%;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(7,132,254);
background: linear-gradient(156deg, rgba(7,132,254,1) 0%, rgba(126,19,240,1) 0%, rgba(244,93,47,1) 100%);
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}
.single-blog-box:hover .blog-overlay{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.single-blog-box:hover .blog-text{
    display: none;
}