.about-bg{
    position: relative;
    
}
.one{
    position: absolute;
    background-image: url('https://image.freepik.com/free-photo/close-up-young-businesswoman_23-2149153824.jpg');
    width: 350px;
    height: 300px;
    z-index: -11;
    background-size: cover;
    right: 0;
    border-radius: 10px;
}
.two{
    position: absolute;
    background-image: url('https://image.freepik.com/free-photo/group-people-working-out-business-plan-office_1303-15861.jpg');
    top: 20%;
    left: 0;
    width: 350px;
    height: 300px;
    background-size: cover;
    border-radius: 10px;
}

@media only screen and (min-width:700px) and (max-width:920px){
    .one{
        display: none;
    }
    .two{
        top: 5%;
        left: 0;
    }
}