@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Now";
	src: url('/public/fonts/Now-Regular.otf'),
	url('/public/fonts/Now-Bold.otf');
}
body{
    font-family: "Now", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Now",sans-serif;
}
